Django==1.8.4
appnope==0.1.0
decorator==4.0.2
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gnureadline==6.3.3
gunicorn==19.3.0
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
path.py==8.1
pexpect==3.3
pickleshare==0.5
psycopg2==2.6.1
simplegeneric==0.8.1
static3==0.6.1
traitlets==4.0.0
wsgiref==0.1.2
